/* @media screen and (min-width: 768px) {
	.component {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 10px;
		grid-row-gap: 15px;
		justify-content: start;
		overflow: hidden;
		min-height: 0;
		min-width: 0;
	}
	.component > div {
		overflow: hidden;
		min-width: 0;
	}
}
@media screen and (min-width: 800px) {
	.component {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}
.component > div {
	background: #fafafa;
} */

.component {
	display: flex;
	flex-flow: row wrap;
	width: fit-content;
}

.component > div {
	width: 270px;
	height: 100px;
	background: #fafafa;
	box-shadow: #eaeaea 2px 2px 5px;
	/* border: 1px red solid; */
	margin: 10px;
	align-self: start;
}

.component > div.hidden {
	visibility: hidden;
}
